* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(45deg, #C2FFD8
    10%, #465EFB 100%);
}

.wrapper{
    background: #FFFFFF;
    padding: 2em 4em;
    position: absolute;
    width: 30em;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
    border-radius: 1em;
    box-shadow: 0 1em 5em rgba(5, 55, 3, 0.3);
}

#textArea{
    width: 100%;
    border: none;
    border-bottom: 2px solid #000000;
    padding: 1em 1em;
    font-size: 1em;
    outline: none;
}

.box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

.box button{
    border-radius: 0.3em;
    padding: 18px 45px;
    outline: none;
    font-size: 1em;
    border: 3px solid #a3aab6;
    color: #a3aab6;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    transition: 0.4s all;
    background: transparent;
}

.box button:hover{
    background: #a3aab6;
    color: #FFFFFF;
}

.box button::after{
    opacity: 0;
    box-shadow: 0 0 0 6px #a3aab6;
    transition: .3s;
}

.box button:active::after{
    box-shadow: none;
    opacity: 0.4;
    transition: 0s;
}