* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(45deg, #C2FFD8
    10%, #465EFB 100%);
}

.wrapper{
    background: #FFFFFF;
    padding: 2em 4em;
    position: absolute;
    width: 30em;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
    border-radius: 1em;
    box-shadow: 0 1em 5em rgba(5, 55, 3, 0.3);
}

#textArea{
    width: 100%;
    border: none;
    border-bottom: 2px solid #000000;
    padding: 1em 1em;
    font-size: 1em;
    outline: none;
    cursor: auto;
    text-align: center;
}

input:valid{
    transition: 0.5s all;
}

.copyTip{
    outline: none;
    display: flex;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 70px;
    top: 48px;
}

.copyTip button{
    outline: none;
    display: inline-block;
    cursor: pointer;
    border: none;
    background-color: white;
    width: 24px;
    height: 24px;
    background-image: url("resourse/copy.svg");
    transition: 0.3s all;
    position: relative;
}

.copyTip button:disabled:hover{
    background-image: url("resourse/copy.svg");
    cursor: auto;
}

.copyTip button:hover{
    background-image: url("resourse/copy_hover.svg");
}

.generate{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

.generate button{
    border-radius: 0.3em;
    padding: 18px 45px;
    outline: none;
    font-size: 1em;
    border: 3px solid #a3aab6;
    color: #a3aab6;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    transition: 0.4s all;
    background: transparent;
}

.generate button:hover{
    background: #a3aab6;
    color: #FFFFFF;
}

.generate button::after{
    opacity: 0;
    box-shadow: 0 0 0 6px #a3aab6;
    transition: .3s;
}

.generate button:active::after{
    box-shadow: none;
    opacity: 0.4;
    transition: 0s;
}

.copyComplete{
    color: #ffffff;
    font-size: small;
    position: relative;
    top: -18px;
    transition: 0.7s all;
    opacity: 1;
}

.copyCompleteIn{
    color: #a3aab6;
    transition: 0.4s all;
    opacity: 0.75;
    font-size: small;
    position: relative;
    top: -18px;
}