* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(45deg, #C2FFD8 10%, #465EFB 100%);
}

.title{
    color: white;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    left: 25px;
    top: 10px;
    cursor: default;
}

.wrapperBack{
    background: #494c4d;
    padding: 2em 4em;
    position: absolute;
    width: 30em;
    height: 258px;
    transform: translate(-55%, -58%);
    top: 40%;
    left: 50%;
    border-radius: 1em;
    border: 2em white;
    box-shadow: 0 1em 5em rgba(3, 29, 55, 0.3);
    opacity: 0.75;
}

.wrapper{
    background: #FFFFFF;
    padding: 2em 4em;
    position: absolute;
    width: 30em;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
    border-radius: 1em;
    box-shadow: 0 1em 5em rgba(3, 29, 55, 0.3);
}

#textArea{
    width: 100%;
    border: none;
    border-bottom: 2px solid #000000;
    padding: 1em 1em;
    font-size: 1em;
    outline: none;
    cursor: auto;
    text-align: center;
}

input:valid{
    transition: 0.5s all;
}

.copyTip{
    outline: none;
    display: flex;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 70px;
    top: 48px;
}

.copyTip button{
    outline: none;
    display: inline-block;
    cursor: pointer;
    border: none;
    background-color: white;
    width: 24px;
    height: 24px;
    background-image: url("../images/copy.svg");
    transition: 0.3s all;
    position: relative;
}

.copyTip button:disabled:hover{
    background-image: url("../images/copy.svg");
    cursor: auto;
}

.copyTip button:hover{
    background-image: url("../images/copy_hover.svg");
}

.generate{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

.generate button{
    border-radius: 0.3em;
    padding: 18px 45px;
    outline: none;
    font-size: 1em;
    border: 3px solid #a3aab6;
    color: #a3aab6;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    transition: 0.4s all;
    background: transparent;
}

.generate button:hover{
    background: #a3aab6;
    color: #FFFFFF;
}

.generate button::after{
    opacity: 0;
    box-shadow: 0 0 0 6px #a3aab6;
    transition: .3s;
}

.generate button:active::after{
    box-shadow: none;
    opacity: 0.4;
    transition: 0s;
}

.copyComplete{
    color: #ffffff;
    font-size: small;
    position: relative;
    top: -18px;
    transition: 0.7s all;
    opacity: 1;
}

.copyCompleteIn{
    color: #ffffff;
    transition: 0.4s all;
    opacity: 0.75;
    font-size: small;
    position: relative;
    top: -18px;
}

#Value{
    font-weight: bold;
    color: #a3aab6;
    position: absolute;
    transform: translate(5000%, -42%);
    -webkit-user-select: none;
}

.Choose{
    width: 50px;
    position: relative;
    transform: translate(-130%, 100%);
    appearance: none;
}

#numChoose{
    position: absolute;
    box-sizing: border-box;
    -webkit-appearance: none;
    transform: translate(255%);
    height: 1px;
    width: 120px;
    border-radius: 2px;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: #ffffff;
    opacity: 0.75;
    transition: all 0.2s ease-in-out;
}

#numChoose::-webkit-slider-thumb:hover{
    transform: scale(1.3);
}

#numChoose::-webkit-slider-thumb{
    transition: all 0.2s ease-in-out;
}